/* contact styling */
.contact2,
.resource2 {
    max-width: 64rem;
    margin:auto;
}

.form label {
    display: block;
    padding-top: 1rem;
    color: rgb(34, 10, 252);
    font-size: .9rem;
}

.form input[type="text"],
.form input[type="email"],
textarea {
    background-color: #eee;
    display: block;
    border: solid 1px #9999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 70%;
}

.form input[type="submit"] {
    border: none;
    background-image: linear-gradient(#9c2c13, #6f200e);
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 100%;
    max-width: 400px;
    margin: 1rem 0;
    box-shadow: 1px 1px 4px #999;
}

.contact2 main {
    margin: 0 1rem;
}

.contact {
    margin-top: 1rem;
}