.tips {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 1rem;
}

.section {
    background-color: #e2dfdf;
    border-radius: 8px;
    max-width: 450px;
    padding: 1rem;
    margin: .5rem 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Animation for appearance */
    opacity: 0; /* Start invisible */
    animation: fadeInSlide 1s ease-out forwards;
}

.section h2 {
    margin-bottom: 10px;
    text-align: center;
}

.section p {
    margin-bottom: 10px;
}

.section img {
    display: block;
    width: 60%;
    height: auto;
    justify-self:center;
    margin: 0 auto;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

  
/* Apply a delay for each card to make them appear sequentially */
.section:nth-child(1) {
    animation-delay: 0.2s;
}
.section:nth-child(2) {
    animation-delay: 0.4s;
}
.section:nth-child(3) {
    animation-delay: 0.6s;
}
.section:nth-child(4) {
    animation-delay: 0.8s;
}

@keyframes fadeInSlide {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}